@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --dark-grey: #151515;
  --light-grey: #e5e5e5;
  --purple: #ff0f3e;
}
/* Other rules */
body {
  font-family: "Montserrat", sans-serif;
  overflow: auto;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/*------------------------------------------------------*/
/*-------------------------HEADER-----------------------*/
/*------------------------------------------------------*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--light-grey);
}
.header h1 {
  margin-left: 10px;
}

/*------------------------------------------------------*/
/*-------------------------addTask-----------------------*/
/*------------------------------------------------------*/

.add-task form {
  width: 400px;
  box-sizing: border-box;
}
.add-task button {
  width: 25%;
  cursor: pointer;
  padding: 8px;
  color: #fff;
  background-color: var(--purple);
  border-radius: 5px;
  outline: none;
  border: none;
}

.add-task form input {
  width: 75%;
  border: 1px solid var(--light-grey);
  padding: 7px;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

/*------------------------------------------------------*/
/*-------------------------ToDoList-----------------------*/
/*------------------------------------------------------*/
.todo-list {
  margin-top: 50px;
  width: 400px;
  height: 350px;
  overflow-y: auto;
}

/*------------------------------------------------------*/
/*-------------------------TODO-----------------------*/
/*------------------------------------------------------*/

.to-do {
  display: flex;
  flex: 1;
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}
.to-do .buttons {
  margin-left: 5px;
}
.to-do div:first-child {
  flex: 4;
}
.to-do div:last-child {
  flex: 1;
}

.to-do svg {
  cursor: pointer;
}
.task-validated {
  background-color: var(--light-grey);
}
/*------------------------------------------------------*/
/*-------------------------Footer-----------------------*/
/*------------------------------------------------------*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: azure;
  margin-top: 100px;
}
